<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/page1.css') }}">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>



    <body style="background-color: #ffebee ;">
        
        <nav class="nav-wrapper red lighten-1">
            <a href="#!" class="brand-logo" style="padding-left: 10px;">CPS530</a>
            <a href="#" class="sidenav-trigger" data-target="nav-mobile">
                <i class="material-icons">menu</i>
            </a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="{{ url_for('index') }}">Frameworks</a></li>
                    <li><a href="{{ url_for('page2') }}">How to install</a></li>
                    <li><a href="{{ url_for('page3') }}">Tutorial</a></li>
                    <li><a href="{{ url_for('page4') }}">Page result</a></li>
                    <li><a href="{{ url_for('page5') }}">Conclusion</a></li>
                    <li><a href="{{ url_for('page6') }}">Credits</a></li>
                </ul>
        </nav>

        <ul class="sidenav" id="nav-mobile">
                <li><a href="{{ url_for('index') }}">Frameworks</a></li>
                <li><a href="{{ url_for('page2') }}">How to install</a></li>
                <li><a href="{{ url_for('page3') }}">Tutorial</a></li>
                <li><a href="{{ url_for('page4') }}">Page result</a></li>
                <li><a href="{{ url_for('page5') }}">Conclusion</a></li>
                <li><a href="{{ url_for('page6') }}">Credits</a></li>
        </ul>

        <div class="container">
          <div class="row">
              <h1 style="text-align: center; letter-spacing: 3px; color: dimgrey; font-size: 4vw;" class="flow-text">Frameworks</h1>
          </div>
          <div class="row">
              <div class="col s12 m6 l6">
                  <h4 style="color: #484848; text-align: center;" class="flow-text">Materialize</h4>
                  <ul class="collapsible popout">
                      <li>
                        <div class="collapsible-header"><i class="material-icons">devices</i>A CSS Framework Made by Google</div>
                        <div class="collapsible-body"><span>Materalize is mostly used in the United States. According to the <a href="https://2019.stateofcss.com/technologies/css-frameworks/">State of CSS report 2019,</a> 72% of those
                           surveyed had heard of Materialize, and 37% were interested in using it. <br><br>
                           It was overall ranked 3rd in terms of popularity -- being beaten out by Bootstrap and 
                           Foundation. However, only 17.1% of developers say they would use it again, compared to 45% for Bootstrap.
                        </span></div>
                      </li>
                      <li>
                        <div class="collapsible-header"><i class="material-icons">palette</i>Easy and Efficient</div>
                        <div class="collapsible-body"><span>The built-in custom components make for easy and fast development. There are many free plugins for drop-downs, collapses and more. 
                          The framework is also very responsive, and makes for a great user experience.</p>
                          <p>Overall, Materalize is easy to pick up, with great built-in features, and ready-to-use page elements.</p>
                        </span></div>
                      </li>
                      <li>
                        <div class="collapsible-header"><i class="material-icons">vpn_lock</i>New, Small, Limited</div>
                        <div class="collapsible-body"><span><p>Materialize does not work on older browsers, such as anything older than Internet Explorer 10. 
                          In addition, the framework has a smaller community with less detailed documentation and forums.</p>
                          <p>Designs are also fairly limited; websites that you create may all act similarly in terms of UI.</p>
                        </span></div>
                      </li>
                      <li>
                        <div class="collapsible-header"><i class="material-icons">group_add</i>A Small Community</div>
                        <div class="collapsible-body"><span> <p>Companies such as DroneDeploy, IWB, and Greencode use Materialize. 
                          Materialize is used for a variety of different sites; mostly for advertising a company's digital services.</p>
                          <p>There don't seem to be too many large companies that use Materialize.</p>
                        </span></div>
                      </li>
                    </ul>
              </div>
              <div class="col s12 m6 l6">
                <h4 style="color: #484848; text-align: center;" class="flow-text">Flask</h4>
                  <ul class="collapsible popout">
                      <li>
                        <div class="collapsible-header"><i class="material-icons">favorite_border</i>Alive and Kickin'</div>
                        <div class="collapsible-body"><span>Flask is pretty popular amongst Python users. In 2018, Flask was voted
                          most popular Python web framework in the <a href ="https://www.jetbrains.com/research/python-developers-survey-2018/">Python Developers Survey 2018.</a>
                          However, Django, Ruby on Rails, and other web frameworks continuously rank about Flask.
                        </span></div>
                      </li>
                      <li>
                        <div class="collapsible-header"><i class="material-icons">extension</i>All Around Reliable</div>
                        <div class="collapsible-body"><span>Flask is easy to pick up and use for simple projects. It doesn't take too many lines
                          of code to do what you want to do, so your codebase may be smaller than, for example, Django. Database integration is easy, 
                          and it has high scalability.
                        </span></div>
                      </li>
                      <li>
                        <div class="collapsible-header"><i class="material-icons">settings</i>Not Meant for Big Things?</div>
                        <div class="collapsible-body"><span>There seems to be some discourse in the community where some say that Flask is not suited for big projects.
                          However, there are others that claim that this is a myth. <br><br>
                          There's also no login functionality, admin site,
                          and no default web template engines. You must build everything yourself. 
                        </span></div>
                      </li>
                      <li>
                        <div class="collapsible-header"><i class="material-icons">public</i>Mr.Worldwide</div>
                        <div class="collapsible-body"><span>Some sites that utilize Flask are Pinterest, LinkedIn, Reddit, Uber, Netflix, and Airbnb.
                          Uses include everything from social media apps, blogs, and streaming services.
                        </span></div>
                      </li>
                    </ul>
              </div>
          </div>
      </div>
  
      
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <script>
          $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.scrollspy').scrollSpy();
            $('.tooltipped').tooltip();
            $('.tabs').tabs();
            $('.collapsible').collapsible();
          })
      </script>
    </body>
  </html>